<div class="row no-bg">
  <div class="justify-content-center">
    <h2 class="text-center mb-4">Meet Our Care Package</h2>

    <div class="row justify-content-around">

      <div>
        <div class="card">
          <h3 class="card-header bg-info text-white">
            Tony Poku
          </h3>
          <div class="card-body">
            <a href='#'><img src='../images/tony.jpg' width='300' height='300' class='d-inline-block align-top'
                alt='' /></a>
            <p class="card-text">Tony is valiantly living is the suburbs.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <h3 class="card-header bg-info text-white">
            Colin MacGaffey
          </h3>
          <div class="card-body">
            <a href='#'><img src='../images/colin.png' width='300' height='300' class='d-inline-block align-top'
                alt='' /></a>
            <p class="card-text">Colin is valiantly living is the suburbs.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <h3 class="card-header bg-info text-white">
            Blaise Siocon
          </h3>
          <div class="card-body">
            <a href='#'><img src='../images/blaise.png' width='300' height='300' class='d-inline-block align-top'
                alt='' /></a>
            <p class="card-text">Blaise is valiantly living is the suburbs.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <h3 class="card-header bg-info text-white">
            Elia Martinez
          </h3>
          <div class="card-body">
            <a href='#'><img src='../images/elia.JPG' width='300' height='300' class='d-inline-block align-top'
                alt='' /></a>
            <p class="card-text">Elia is thriving in the city!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

