<div>
  <h1>Reach out to our Care Package!</h1>

  <p>
    Tony P:
    <a href='https://github.com/tonypoku-ghub' target='_blank'> Github</a>
    <a
      href='mailito:anthonypoku2022@u.northwestern.edu?subject=Web%20Inquiry'
    >Email</a>
  </p>

  <p>
    Blaise S:
    <a href='https://github.com/Cmacgaffey' target='_blank'>Github</a>
    <a href='mailito:cmacgaffey@gmail.com?subject=Web%20Inquiry'>Email</a>
  </p>

  <p>
    Colin M:
    <a href='https://github.com/BlaiseSiocon' target='_blank'>Github</a>
    <a href='mailito:sioconblaise@gmail.com?subject=Web%20Inquiry'>Email</a>
  </p>

  <p>
    Elia M:
    <a href='https://github.com/EliaMart' target='_blank'>Github</a>
    <a
      href='mailito:eliahaydeemartinez@gmail.com?subject=Web%20Inquiry'
    >Email</a>
  </p>
</div>