
      <p><strong>Temporary Dashboard</strong></p>
      <div class="container">
        {{#each serviceRequests}} 
        <div class="row">
          <div class="col-md-6">
            <p>{{id}}</p>
          </div>
          <div class="col-md-6">
            <p>{{name}}</p>
          </div>
        </div>
        {{/each}}
      </div>
