<section>

 <div class='row mb-4 project text-white'>
  <div class='col-12 align-content-center' style="display: block;">
    <h1 class='home-title d-flex justify-content-center'>
      Extraordinary Outcome
      {{!-- Uplift your community with
      <strong>Care</strong> --}}
    </h1>
    {{!-- <div class='row mb-4 project'> --}}
    <div class="text-center">
     <div class='col-4 p-3 mb-5 bg-info text-white'>
    {{!-- <h1 class='home-title'> --}}
      Uplift your community with Care. We all hit a
      snag in life. A helping hand is within reach.
    {{!-- </h1> --}}
    </div>
    </div>
    </div> 
  <div class='col-4' style="display: none;">
    <h1 class='home-title'>
      Exceptionally Effective
      {{!-- That
      <strong>help</strong>ing hand is within reach --}}
    </h1>
  {{!-- </div> --}}
    <div class='col-4 p-3 mb-2 bg-info text-white'>
    {{!-- <p class='home-title'> --}}
      Community Care will help you
      <strong>find</strong>
      what you need.
    </div>
    </div>
  </div>
</section>

<div class='mb-4'>
  <nav class='navbar navbar-expand-lg navbar-light bg-light justify-content-center'>
  <div class="justify-content-center">
    <div class='collapse navbar-collapse justify-content-center' id='navbarNav'>
      <ul class='navbar-nav justify-content-center'>
        <li class="nav-item">
          <a class='navbar-brand align-items-center' href='#'><img src='../images/interpersonnal.png' width='50' height='50' 
          class='d-inline-block align-top align-center ml-4' alt=''/></a>
          <a class='nav-link' href='#'>Interpersonal</a>
        </li>
        <li class="nav-item ml-4">
          <a class='navbar-brand' href='#'><img src='../images/law.png' width='50' height='50' 
          class='d-inline-block align-top align-center ml-5' alt=''/></a>
           <a class='nav-link' href='#'>Legal and Advocacy</a>
        </li>
        <li class="nav-item">
          <a class='navbar-brand' href='#'><img src='../images/home.png' width='50' height='50' 
          class='d-inline-block align-top ml-5' alt=''/></a>
          <a class='nav-link' href='#'>Housing and Facilities</a>
        </li>
        <li class="nav-item">
          <a class='navbar-brand' href='#'><img src='../images/books.png' width='50' height='50' 
          class='d-inline-block align-top ml-5' alt=''/></a>
          <a class='nav-link' href='#'>Education and Literacy</a>
        </li>
        <li class="nav-item">
          <a class='navbar-brand' href='#'><img src='../images/culture.png' width='50' height='50' 
          class='d-inline-block align-top ml-5' alt=''/></a>
          <a class='nav-link' href='#'>Language and Culture</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
