<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{first_name}} {{last_name}} ({{type}})!</h2>
    <p>Ready to tackle your next big adventure?</p>
    <p>Answer the following questions to help us get to know you better</p>

  </div>
</div>

<script src="./js/profile.js"></script>