<div class='row'>
    <div class='container'>
      <div class='row text-center'>
        <div class='col-md-8 text-center'>
          <h1>Everyone has a role</h1>
          <h5>You can join as a skilled professional or as someone looking for help</h5>
        </div>
      </div>
      <br>
      <br>
      <div class='row'>
        <div class='col-md-5'>
          <label type='button' class='btn btn-primary btn-xl' onclick="selectRoleHandler(this)" data-role="provider">
            <input type="radio" id="role_provider" name="role" value="provider" class="mr-3"></input>
            I am a professional<br> looking to help
          </label>
        </div>
        <div class='col-md-5 col-md-offset-1'>
          <label type='button' class='btn btn-primary btn-xl' onclick="selectRoleHandler(this)" data-role="consumer">
            <input type="radio" id="role_consumer" name="role" value="consumer" class="mr-3"></input>
            I could use some<br> help from somebody
          </label>
        </div>
      </div>
      <br>
      <div class='row text-center'>
        <div class="col-md-8">
          <button type='button' id="select_role" class='btn btn-success btn-disabled' disabled="disabled" onclick="gotoSignup(this)">
            Create Account
          </button>
        </div>
      </div>
      <br>
      <br>
      <div class='row text-center'>
          <span class="col-md-8">
            Already have an account? <a href='/login'>login</a>
          </span>
      </div>      
  </div>
</div>

<script src='./js/signup.js'></script>