<div class='row mt-4'>
  <div class='col-md-6'>
    <header>
      <h4>Getting started ({{user.type}})</h4>
    </header>
  </div>
</div>
{{#if session.isProvider}}
  <div class='row mt-4'>
    <div class='col-md-6'>
      <p>What would you like to do?</p>
      <div>
        <input
          type='radio'
          id='publish_skill_radio'
          name='service_getting_started'
          value='new'
          onclick='enableGettingStartedContinueBtn(this)'
        />
        <label for='html'>Publish/Update your skills</label><br /><br />
        {{#if session.provider_skill}}
          <input
            type='radio'
            id='match_service_radio'
            name='service_getting_started'
            value='new'
            onclick='enableGettingStartedContinueBtn(this)'
          />
          <label for='html'>Help someone complete a service request</label><br
          />
        {{/if}}
      </div>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-md-6'>
      <div>
        <button
          type='submit'
          class='btn btn-primary mr-3'
          id='cancel_getting_started_btn'
        >Cancel</button>
        <button
          type='submit'
          class='btn btn-primary ml-3'
          data-type='provider'
          id='continue_getting_started_btn'
          disabled='disabled'
        >Continue</button>
      </div>
    </div>
  </div>
{{else}}
  <div class='row mt-4'>
    <div class='col-md-6'>
      <p>What would you like to do?</p>
      <div>
        <input
          type='radio'
          id='new_service_radio'
          name='service_getting_started'
          value='new'
          onclick='enableGettingStartedContinueBtn(this)'
        />
        <label for='html'>Create a new service request</label><br /><br />
        {{#unless hasNoServiceRequests}}
          <input
            type='radio'
            id='existing_service_radio'
            name='service_getting_started'
            value='existing'
            onclick='enableGettingStartedContinueBtn(this)'
          />
          <label for='html'>Update an existing request</label>
          <div id='existing-services' class='mt-5' style='display: none;'>
            <select
              name='existing-service-to-edit'
              id='existing-service-to-edit'
            >
              {{!only show when the existing request radio button is selected. Otherwise, hide}}
              {{#each services}}
                <option value='{{id}}'>{{name}}</option>
              {{/each}}
            </select>
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-md-6'>
      <div>
        <button
          type='submit'
          class='btn btn-primary mr-3'
          id='cancel_getting_started_btn'
        >Cancel</button>
        <button
          type='submit'
          class='btn btn-primary ml-3'
          data-type='consumer'
          id='continue_getting_started_btn'
          disabled='disabled'
        >Continue</button>
      </div>
    </div>
  </div>
{{/if}}
<script src='../../js/service.js'></script>