    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="firstname-signup">first name:</label>
        <input class="form-input" type="text" id="firstname-signup" />
      </div>
      <div class="form-group">
        <label for="lastname-signup">last name:</label>
        <input class="form-input" type="text" id="lastname-signup" />
      </div>      
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <input type="radio" id="provider-signup" name="type-signup" value="provider">
        <label for="provider-signup">provider</label>&nbsp;
        <input type="radio" id="consumer-signup" name="type-signup" value="consumer">
        <label for="consumer-signup">consumer</label>      
      </div><br>      
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>