:root {
  --btn-bg-disabled: #d5e0d5;
}

header
/* .project:not(:last-child)  */
{
  border-bottom: 1px solid #ccc;
}

h3 {
  color: black;
}

section {
  background-image: url('../images/Nature.jpeg');
  background-size: 1000px;
  background-color: #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: darkblue;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #068345;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.home-title {
  font-size: 50px;
  letter-spacing: -0.035em;
  line-height: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.btn-xl {
  padding: 50px 30px;
  font-size: 20px;
  border-radius: 10px;
  background-color: white !important;
  border: 1px black solid;
  color: black !important;
}

.btn-disabled {
  cursor: not-allowed;
  /* --disabled-bg: var(--btn-bg-disabled);
  border-color: var(--disabled-bg); */
}
